---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import TrustStrip from "../components/TrustStrip.astro";
import Sortiment from "../components/Sortiment.astro";
import Vergleich from "../components/Vergleich.astro";
import Ablauf from "../components/Ablauf.astro";
import Person from "../components/Person.astro";
import Vertrauen from "../components/Vertrauen.astro";
import Partner from "../components/Partner.astro";
import CtaForm from "../components/CtaForm.astro";
import Footer from "../components/Footer.astro";
---

<Base business>
  <Header />
  <main id="top">
    <Hero />
    <TrustStrip />
    <Sortiment />
    <Vergleich />
    <Ablauf />
    <Person />
    <Vertrauen />
    <Partner />
    <CtaForm />
  </main>
  <Footer />
</Base>
